<h1>Welcome to Instaflix! See our collection of movies below</h1>

<%= link_to "Add a movie", new_movie_path %>

<table>
	<tr>
		<th>title</th>
		<th>description</th>
		<th>year_released</th>
	</tr>

	<% @movies.each do |m| %>
	
	<tr>
		<td><%= link_to m.title, movie_path(m) %></td>
		<td><%= m.description %></td>
		<td><%= m.year_released %></td>
		<td><%= link_to "Destroy", movie_path(m), method: :delete, data: {confirm: "Are you sure?"} %></td>
	</tr>
	
	<% end %>

</table>